$site-bg: #f9fafb;
$card: #fff;
$block: #f1f2f3;
$block-border: #e3e5e8;
$block-hover: #e9eaec;
$theme-link-opa: rgba(32, 148, 243, 0.2);
$leftbar-bg: #e3e5e8;
$alpha20: rgba(255, 255, 255, 0.2);
$alpha50: rgba(255, 255, 255, 0.5);
$alpha60: rgba(255, 255, 255, 0.6);
$alpha75: rgba(255, 255, 255, 0.75);
$alpha100: #fff;
$text: #000;
$text-p1: #333;
$text-p2: #4d4d4d;
$text-p3: #808080;
$text-p4: #999;
$text-meta: #ccc;
$text-code: #14181f;

$de-c1: #247660;
$de-c2: #2196f3;
$de-c3: #fff143;
$de-c4: #ffb3a7;
$de-c5: #88ada6